<p>ID : <%= @tweet.id %></p>
<p>이름 : <%= @tweet.name %></p>
<p>내용 : <%= @tweet.content %></p>
<p>작성일자 : <%= @tweet.created_at %></p>

<p>ID : <%= @user.id %></p>
<p>이름 : <%= @user.name %></p>
<p>내용 : <%= @user.content %></p>
<p>작성일자 : <%= @user.created_at %></p>

